body {
    background-color: #2a1139;
    color: white;
}


.container {
    margin-top: 10rem;
    padding: 3rem;
    border: 1px solid darkgrey;
    border-radius: 20px;
}

fieldset > * {
    color: white;
}

code {
    color: #606c76;
}